.c-CarouselWrapper {
	position: relative;

	/* Styling */
	display: flex;
	flex-direction: column;
}

.c-Navigation {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);
}

/* .c-NavigationButton[aria-disabled="true"] {
	pointer-events: none;
	opacity: 0;
} */
